html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
    position: relative;
    background-color: var(--background_color_two);
    min-height: 1024px;
    width: 100%;
	max-width: 1440px;
    margin: auto;
    border-radius: 0px;
}

button:hover {
    opacity: .7;
}

.line{
	position: absolute;
	width: 315px;
	height: 0px;
	left: 563px;
	top: 981px;

	border: 1px solid #02628A;
}

.box{
	position: absolute;
	width: 991px;
	height: 536px;
	left: 224px;
	top: 209px;

	background: #FFFFFF;
	border: 2px solid #4ABCEB;
	box-shadow: 5px 5px 2px rgba(74, 188, 235, 0.25);
	border-radius: 10px;
}

.text{
	position: absolute;
	width: 924px;
	height: 308px;
	left: 37px;
	top: 169px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 200%;
	/* or 44px */
	text-align: center;
	letter-spacing: 0.1em;
	color: #033F58;
}

.logo{
	position: absolute;
	left: 442px;
	top: 29px;
}

.back {
	position: absolute;
	width: 169px;
	height: 53px;
	left: 224px;
	top: 762px;

	background: #02628A;
	border: 5px solid #FEFEFE;
	box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 41px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}