html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper{
    position: relative;
    background-color: var(--background_color_two);
    min-height: 1513px;
    width: 100%;
    min-width: 1440px;
	max-width: 1440px;
    margin: auto;
    border-radius: 0px;
}

button:hover{
    opacity: .7;
}

.listheader_box{
	position: absolute;
	width: 400px;
	height: 70px;
	left: 519px;
	top: 150px;

	background: #4ABCEB;
	border: 5px solid #02628A;
	box-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.listheader_text{
	position: absolute;
	width: 336px;
	height: 41px;
	left: 33px;
	top: 15px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 41px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
}

.adoptapet_button{
	position: absolute;
	width: 320px;
	height: 74px;
	left: 560px;
	top: 1214px;

	background: #02628A;
	border: 5px solid #FEFEFE;
	box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	
	font-family: Open Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.block1{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 82px;
	top: 273px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block2{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 530px;
	top: 273px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block3{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 978px;
	top: 273px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block4{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 82px;
	top: 503px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block5{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 530px;
	top: 503px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block6{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 978px;
	top: 503px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block7{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 82px;
	top: 733px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block8{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 530px;
	top: 733px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block9{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 978px;
	top: 733px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block10{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 82px;
	top: 963px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block11{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 530px;
	top: 963px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.block12{
	position: absolute;
	width: 382px;
	height: 164px;
	left: 978px;
	top: 963px;

	background: #FFFFFF;
	border: 3px solid #6BBDDE;
	box-sizing: border-box;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.pet_pic{
	position: absolute;
	left: 18px;
	top: 21px;
}

.petname_oneline{
	position: absolute;
	width: 215px;
	height: 28px;
	left: 139px;
	top: 54px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #033F58;
	text-shadow: -2px 2px 1px rgba(69, 69, 69, 0.25);
}

.petname_twolines{
	position: absolute;
	width: 220px;
	height: 56px;
	left: 145px;
	top: 41px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #033F58;
	text-shadow: -2px 2px 1px rgba(69, 69, 69, 0.25);
}

.prices{
	position: absolute;
	width: 100px;
	height: 23px;
	left: 138px;
	top: 86px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #02628A;
	text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.prices_adjusted{
	position: absolute;
	width: 100px;
	height: 23px;
	left: 145px;
	top: 101px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #02628A;
	text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.line {
    position: absolute;
    width: 315px;
    height: 0px;
    left: 562px;
    top: 1427px;

    border: 1px solid #02628A;
}

.about {
    position: absolute;
    width: 38px;
    height: 16px;
    left: 701px;
    top: 1443px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
    border: none;
    background-color: inherit;
}